html, body {
    width: 100%;
    height: 100%;
}

#jupiter-wrapper {
    height: 100%;
}

.main-body {
    margin-top: 25px;
}

/*Sign Up Section*/
.SignUp-header {
    text-align: center;
    margin-bottom: 15px;
}

.SignUp-buttons {
    margin-top: 15px;
}

.InputField-label {
    color: #757575;
    font-weight: 600;
    font-size: 1rem;
}

.submit-btn {
    margin-right: 15px;
    width: 100px;
}

.cancel-btn {
    margin-left: 15px;
}

/*Footer*/
.footer {
    flex-shrink: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
