html, body {
    width: 100%;
    height: 100%;
}

#jupiter-wrapper {
    height: 100%;
}

.u-flex-grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

.u-input-stretch {
    width: 100%;
}

.crumb {
    font-size: 14px;
    font-weight: 500;
}

.hxBreadcrumb > a:last-of-type {
    pointer-events: auto;
    color: #0d74d1;
    font-weight: 500;
}

.active {
    color: #9e9e9e!important;
    font-weight: 300!important;
    pointer-events: none;
}

.Breadcrumb-nav {
    margin-right: 0.5rem;
    text-transform: capitalize;
    background-color: transparent;
    color: #0d74d1;
    text-decoration: none;
    font-weight: 500;
    pointer-events: auto;
}

.Breadcrumb-nav > .delimiter {
    color: #9e9e9e;
    font-size: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 500;
    line-height: 1;
}

/* Signup Container */
.SignUp-container {
    background: white;
    margin: 25px auto;
    padding: 25px;
}

/*Sign Up Section*/
.SignUp-header {
    text-align: center;
    margin-bottom: 15px;
}

.SignUp-header hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.SignUp-buttons {
    margin-top: 25px;
}

.InputField {
    margin-bottom: 10px;
}

.Input-section {
    margin: 25px 0 30px 0;
}

.CustomerType-section {
    margin-top: 25px;
}

.Input-section h2, .Input-section h3 {
    margin-bottom: 15px;
}

.InputField-label {
    color: #757575;
    font-weight: 600;
    font-size: 1rem;
}

.submit-btn {
    margin-right: 15px;
    width: 100px;
}

.cancel-btn {
    margin-left: 15px;
}

/*Footer*/
.footer {
    flex-shrink: 0;
    width: 100%;
    bottom: 0;
}

.popover {
    margin-top: 25px;
    margin-bottom: 25px;
}

.customer-info-header {
    font-size: 1.2rem;
}

.UsernameField .InputField {
    margin-bottom: 0;
}

.UsernameField .error {
    margin-bottom: 10px;
}
/*Input*/
/*Needed as override for helix text input*/
hx-text-control > input[type="password"] {
    grid-area: control;
    height: 2rem;
    min-width: 8rem;
    padding: 0 0.75rem;
}

hx-text-control[hx-dirty] > input[type="password"]:enabled:invalid, hx-text-control.hxInvalid > input[type="password"]:enabled {
    border: 2px solid #d32f2f;
}

.UsernameField .exclamation {
    color: #d32f2f;
}

.UsernameField .checkmark{
    color: #0b843d;
}

.tooltip hx-icon {
    margin-left: 5px;
}

.disallow-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip {
    display: inline-block;
}

.tooltip code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    text-align: center;
}

/*Submission Modal*/

.Modal .Body {
    text-align: center;
}

.Modal h1 {
    text-align: center;
}


